* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sans-serif;
}
.header {
  background: #fffcf4;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.header .fixed {
  position: sticky;
  top: -28px;
}
a {
  text-decoration: none;
}
/*--CONTENT--*/

.main-content {
  width: 1170px;
  max-width: calc(100%-48px);
  margin-left: auto;
  margin-right: auto;
}

/*-- NAV --*/
.nav ul {
  display: flex;
  list-style: none;
}
.nav {
  margin-left: auto;
}

.nav a {
  position: relative;
  padding: 8px 21px;
  font-size: 1.6rem;
  color: #5f5b53;
}

.nav a:hover,
.nav ul .active a {
  font-weight: 600;
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.nav ul .active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}

/*=== ACTION=== */
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.header .sign-up-btn {
  min-width: 144px;
}

/* Hero */
.hero {
  padding-top: 56px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* Hero left */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  padding: 28px 24px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.hero-summary .item {
  display: flex;
}

.hero-summary .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
  background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
  background: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.hero-summary .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

/* Hero right */
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}

.hero .heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #171100;
}

.hero .desc {
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.hero .stats {
  margin: 8px 0 0 -28px;
}

.hero .stats strong {
  padding: 0 8px 0 28px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}
